body {
	margin-top: 20px;
	padding: 0;
}

span {
	color: white;
}
div {
	display: inline-block;
}
div span {
	display: flex;
	align-items: center;
}
.text {
	display: inline-flex;
	align-items: center;
}
.block {
	background-color: #b1b1b1;
}
.main {
	margin: 0 auto;
	display: block;
	width: 1024px;
	background-color: white;

}
.header {
	width: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
	position: left;
	float: left;
	padding: 1.5% 10%;
}
.banner {
	float: right;
	padding: 1.5% 21%;
}
.nav {
	display: block;
	padding: 5px;
	margin: 10px 0;
	text-align: center;
}
.center {
	display: flex;
	height: 800px;
}
.left {
	display: flex;
	flex-direction: column;
	width: 48%;
	height: 100%;
	padding-right: 15px;
}
.middle {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	padding-right: 15px;
}
.right {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
}

.flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.deal {
	height: 31%;
	margin-bottom: 10px;
}.partners {
	height: 28%;
	margin-bottom: 10px; 
}
.categor {
 	height: 41%;	
}
.member {
	height: 25%;
	margin-bottom: 10px; 
}
 .pet {
 	height: 75%
}
.descript {
	height: 20%;
	margin-bottom: 10px; 
}
.post {
	height: 55%;
	margin-bottom: 10px;
}
.discusion{
	height: 25%;
}
.footer {
	padding: 20px;
}